<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head :: copy"></div>
</head>

<body>

<div th:replace="navbar :: copy"></div>

<div class="jumbotron text-center">
    <h1 th:text="${title}"></h1>
</div>
<div th:if="${cartSize} != 0">
    <table class="table table-inverse">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit price / Subtotal</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="cartProduct, iter: ${cartProducts}">
            <tr>
                <td th:text="${iter.index}+1"></td>
                <td th:text="${cartProduct.key.name}"></td>
                <td>
                    <form th:attr="action='/protected/changeQuantity/' + ${cartProduct.key.id}">
                        <input type="number" name="quantity" min="0" max="99999" th:value="${cartProduct.value}"></input>
                        <button type="submit" class="btn btn-success">Set</button>
                    </form>
                </td>
                <td th:text="${cartProduct.key.defaultPrice} + ' / ' +
                ${#numbers.formatDecimal((cartProduct.key.defaultPrice)*(cartProduct.value),0, 'DEFAULT', 2, 'DEFAULT')}
                + ' ' + ${cartProduct.key.defaultCurrency} "></td>
                <td>
                    <a th:attr="href='/protected/remove/' + ${cartProduct.key.id}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <h2 th:if="${isError}" th:text="${errorMessage}"></h2>
    <div th:unless="${isError}">
        <h2 th:text="'Total: ' + ${#numbers.formatDecimal(sumPrice,0, 'DEFAULT', 2, 'DEFAULT')} + ' ' + ${currency}"></h2>
        <form action="/protected/checkout" method="GET">
            <button type="submit" class="btn btn-success">Proceed to checkout</button>
        </form>
    </div>
</div>
<div th:unless="${cartSize} != 0">
    <h2>Empty cart</h2>
</div>
<div th:replace="footer :: copy"></div>
</body>
</html>