<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head :: copy"></div>
</head>

<body>

<div th:replace="navbar :: copy"></div>



<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>
<div class="container">
    <div class="well well-sm">
        <strong th:text="${title}">Category Title</strong>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Products by Category
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li  th:each="category : ${categories}"><a th:href="'/listby/category/' + ${category.id}" th:text="${category.name}">Action</a></li>
        </ul>
    </div><br></br>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Products by Supplier
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li  th:each="supplier : ${suppliers}"><a th:href="'/listby/supplier/' + ${supplier.id}" th:text="${supplier.name}">Action</a></li>
        </ul>
    </div><br></br>

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a th:if="${session}!=null" class="btn btn-success" th:href="'/protected/cart/' + ${prod.id}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>