<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="btn btn-success" href="/">Main Page</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <p th:if="${session} == null">
                <li><a class="btn btn-success" href="/login">Login</a></li>
                <li><a class="btn btn-success" href="/sign-up">Sign Up</a></li>
                </p>
                <p th:unless="${session} == null">
                <li><a class="btn btn-success" href="/logout">Logout</a></li>
                <li><a href="/showcart/" th:text="${cartSize}"></a></li>
                <li><a class="navbar-brand" href="/showcart/">
                    <img src="/img/cart.png" width="32" height="32"></img>
                </a></li>
                </p>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>